

$light-300:300;
$normal:normal;
$medium:500;

$uppercase:uppercase;

$color-43484D:#43484D;
$color-5E6977:#5E6977;
$color-358ED7:#358ED7;
$color-F7F7F9:#F7F7F9;
$color-e7e9ec:#e7e9ec;
$color-F9F9F9:#F9F9F9;
$color-39ADD1:#39ADD1;
$color-7DC855:#7DC855;
$color-E1E8EE:#E1E8EE;
$color-86D35D:#86D35D;
$color-BFC7CE:#BFC7CE;
$color-545E6B:#545E6B;
$color-7e8792:#7e8792;